html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

nav {
    background-color: #1c1c1c;
    height: 70px;
    position: fixed;
    width: 100%;
}

p1{
  font-size: 50px;
  color: white;
font-family: Microsoft JhengHei;
}

p2{
  font-size: 20px;
  color: orange;
  font-family: Microsoft JhengHei;
}

.section1{
  position: relative;
  top: 70px;
  height: 250px;
  background-color: #0E0E0E;
}

.photo{
  width: 200px;
  height: 250px;
  background-color: white;
  position: absolute;
}

.center_part{
  position: absolute;
  left: 200px;
  height: 250px;
  width: 880px;
  background-color: #0E0E0E;
}

.left_part{
  width: 440px;
  height: 250px;
  position: absolute;
  background: #0E0E0E;
}

.quoto{
  position: absolute;
  width: 440px;
  height: 250px;
  background-color: #0E0E0E;
  left: 440px;
  line-height: 250px;

}
p6{
  color: white;
  font-family: Microsoft JhengHei;
}

p9{
  color: white;
  font-family: Microsoft JhengHei;
}

p4{
  color: white;
  font-family: Microsoft JhengHei;
  font-size: 20px;
}

p8{
  color: black;
  font-family: Microsoft JhengHei;
  font-size: 15px;
}

.app{
  position: absolute;
  text-align: center;
}

p10{
  color: black;
  font-family: Microsoft JhengHei;
  font-size: 15px;
}


p7{
  color: white;
  font-family: Microsoft JhengHei;
}

.phone{
  position: absolute;
  width: 218px;
  height: 338px;
  left: 1250px;
}

.section2{
  position: relative;
  background-image: image(ABOUT US-03.jpg) no-repeat;
  height: 450px;
  background-size: cover;
  background-position: center;
}

p3{
  color: white;
  font-family: Microsoft JhengHei;
}

.about{
position: absolute;
width: 400px;
height: 200px;
left: 582px;
top: 195px;
text-align: center;

}

p5{
  color: white;
  font-family: Microsoft JhengHei;
}

footer{
  height: 45px;
  background-color: #1C1C1C;
  text-align: center;
}

p4{
  color: white;
  font-family: Microsoft JhengHei;
}
